body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgba(189, 191, 191, 0.861);
}

h1{
    text-align: center;
    color: #323232;
}
h2 {
    color: #323232;
    text-decoration: underline;
}
#quotes-section {
    color: #323232;
    font-style: italic;
}
form {
    background-color: #dedede;
}
img {
    display: block;
    width: 1000px;
    margin-right: auto;
    margin-left: auto;
}